/* styles.css */
.container {
    max-width: 640px;
    margin: 2rem auto;
    padding: 0 1rem;
    /* Ensure padding for mobile */
}

.header {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #4a4a4a;
    margin-bottom: 1rem;
}

.form-container {
    background-color: #ffffff;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.label {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    color: #000000;
    margin-bottom: 0.75rem;
}

.input {
    width: 100%;
    padding: 0.75rem 1.25rem;
    border-radius: 0.375rem;
    border: 1.5px solid #e1e1e1;
    background-color: transparent;
    color: #000000;
    outline: none;
    transition: border-color 0.3s;
    box-sizing: border-box;
}

.input:focus {
    border-color: #1d4ed8;
}

.input-height {
    height: 2.5rem;
    /* Adjust height */
}

.error-text {
    color: #f87171;
    font-size: 0.75rem;
    font-style: italic;
    margin-top: 0.25rem;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.submit-button {
    background-color: #1d4ed8;
    color: #ffffff;
    padding: 0.75rem 1.5rem;
    border-radius: 0.375rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #2563eb;
}

.submit-button:disabled {
    cursor: not-allowed;
    background-color: #a1a1a1;
}

.flex-container {
    display: flex;
    gap: 1rem;
}

.half-width {
    width: 50%;
}

/* styles.css */
.date-picker-container {
  position: relative;
}

.date-picker-input {
  width: 100%;
  padding: 0.75rem 2rem 0.75rem 1.25rem;
  border-radius: 0.375rem;
  border: 1.5px solid #e1e1e1;
  background-color: transparent;
  color: #000000;
  outline: none;
  transition: border-color 0.3s;
  box-sizing: border-box;
}

.date-picker-input:focus {
  border-color: #1d4ed8;
}

.calendar-icon {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  color: #a1a1a1;
  pointer-events: none;
}

/* Responsive Styles */
@media (max-width: 640px) {
  .date-picker-input {
    font-size: 0.875rem;
  }
}


/* Responsive Styles */
@media (max-width: 640px) {
    .container {
        padding: 0 0.5rem;
    }

    .input,
    .submit-button {
        font-size: 0.875rem;
        /* Adjust font size for mobile */
    }

    .input-height {
        height: 2rem;
        /* Smaller height on mobile */
    }
}